<div class="container">
    <div class="desktop-image" *ngIf="step != 3">
        <img src="../../assets/img/vector/Style Guide/Shiny Happy Morning Jog.png " alt="">
    </div>
    <div *ngIf="step == 1" class="step step1">
        <div class="back">
            <img src="../../assets/icons/svg/arrow-left.svg" alt="back">
        </div>
        <h1 class="main-head">Welcome back! </h1>
        <p class="desc">Please enter your login details</p>
        <div class="inputs">
            <input type="email" name="email" id="email" placeholder="Enter school/normal email address">
            <input type="password" name="password" id="password" placeholder="Enter password">
            <p class="forgot">Forgot password? <span (click)="changeStep(2)">Reset password</span></p>
            <button>Continue</button>
        </div>
        <p class="or-divide">or</p>
        <div class="services">
            <div class="service">
                <img src="../../assets/icons/png/google.png" alt="google">
                <p class="service-name">Continue with Google</p>
            </div> 
        </div>
        <p class="bottom-text">Don't have an account? <span class="link" (click)="routeRegisterPage()">Sign Up</span></p>
    </div>   

    <div *ngIf="step == 2" class="step step2 ">
        <div class="back">
            <img src="../../assets/icons/svg/arrow-left.svg" alt="back">
        </div>
        <h1 class="main-head">Forgot Password?</h1> 
        <p class="desc">Please provbide a valid email address for a <br> quick and easy verification</p>
        <div class="inputs">
            <input type="email" placeholder="Email school/normal email address">
            <button (click)="changeStep(3)">Continue</button>
        </div>
        <p class="bottom-text">Don't have an account? <span class="link" (click)="routeRegisterPage()">Sign Up</span></p>
    </div>

    <div *ngIf="step == 3" class="step step3">
        <img src="../../assets/img/vector/Style Guide/Shiny Happy Weird Poses.png" alt="">
        <h1>Check your email</h1>
        <p class="desc">We've sent an email to yourmail.com. Check your inbox including your spam and junk folders tap the button and you'lll be directed back to the app.</p>
        <button>Go to inbox</button>
        <p class="timer">Request another one in <b>30:16</b></p>
    </div>
</div>  