<div class="container">
    <div class="top">
        <div class="streak">
            <img src="../../assets/icons/svg/fire.svg" alt="">
            <span>10</span>
        </div>
        <h1>EduSync</h1>
        <div class="profile">
            <span>Nuel Uchenna</span>
            <div class="profile-img">
                <img src="../../assets/img/profile/Style Guide/image_blue.png" alt="Nuel Uchenna">
            </div>
        </div>
    </div>
    <div class="main">
        <div class="sidebar">
            <div class="navs">
                <div class="nav-link" (click)="changeTab('home')" [ngClass]="{'active': tab == 'home'}">
                    <img src="../../assets/icons/svg/home.svg" alt="home">
                    <span>Home</span>
                </div>
                <div class="nav-link" (click)="changeTab('courses')" [ngClass]="{'active': tab == 'courses'}">
                    <img src="../../assets/icons/svg/book.svg" alt="Courses">
                    <span>Courses</span>
                </div>
                <div class="nav-link" (click)="changeTab('challenge')" [ngClass]="{'active': tab == 'challenge'}">
                    <img src="../../assets/icons/svg/award.svg" alt="Challenge">
                    <span>Challenge</span>
                </div>
            </div>

            <div class="logout">
                <img src="../../assets/icons/svg/log-out.svg" alt="logout">
                Logout
            </div>
        </div>
        <div class="middle"> 
            <app-home *ngIf="tab == 'home'"></app-home>
            <app-courses *ngIf="tab == 'courses'"></app-courses>
            <app-challenge *ngIf="tab == 'challenge'"></app-challenge>
        </div>
        <div class="leaderboard"></div>
    </div>
    <!-- <div class="mobile-nav">
        <div class="nav-link-mobile">
            <img src="../../assets/icons/svg/home.svg" alt="home">
            <span>Home</span>
        </div>
        <div class="nav-link-mobile">
            <img src="../../assets/icons/svg/book.svg" alt="Courses">
            <span>Courses</span>
        </div>
        <div class="nav-link-mobile">
            <img src="../../assets/icons/svg/award.svg" alt="Challenge">
            <span>Challenge</span>
        </div>
    </div> -->
</div>