<div class="container">
    <div class="top">
        <h1>Hello  <b>Emmanuel!</b></h1>
    </div>
    <!-- <div class="nav-btns">
        <div class="button">
            <span class="text">Daily quest</span>
            <span class="number">0</span>
        </div>
        <div class="button active">
            <span class="text">Friend request</span>
            <span class="number">0</span>
        </div>
    </div> -->
    <!-- <div class="line">
        <span id="hr1"></span>
        <span id="hr2"></span>
    </div> -->

    <div class="development">
        <div class="img-contain">
            <img src="../../assets/img/vector/Style Guide/Shiny Happy Morning Jog.png" alt="">
        </div>
        <div class="explain">
            <b>oops!</b>
            <p>
                Sorry, this feature is not available yet, Our dev team is working
                towards making this available for you!
            </p>
        </div>
    </div>
    
</div>